<!DOCTYPE html>
<html lang="en">

<%- include ('./parciais/header.ejs')%>

<body>

    <%- include ('./parciais/nav.ejs')%>

    <div>
        <h2>Sobre nós</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi aliquam commodi dolorem quod maiores repellendus a omnis consectetur, non perspiciatis, iusto esse. Accusamus asperiores, voluptate vel fuga modi eum hic!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo optio non voluptas, provident tempora suscipit ex. Dolor, reiciendis quas? Numquam suscipit veniam quibusdam non distinctio sed aut repellendus reprehenderit officiis.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur unde ducimus illum suscipit ullam sed necessitatibus corporis? Ab recusandae ex adipisci cumque, sed sequi amet odio suscipit sint earum voluptate.</p>
    </div>


    <%- include('./parciais/footer.ejs')%>
    
</body>
</html>