<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Login</title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h1>Login</h1></a>
            <p>Seja Bem Vindo</p>
        </div>
    
        <ul>
            <li><a href="/">Login</a></li>
            <li><a href="/about">Sobre</a></li>
        </ul>
    </nav>

    <div class="login">
        <form action="/storage" method="get">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario" required>
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" required>
            <button>Logar</button>
        </form>
    </div>

    <%- include('../partials/footer.ejs')%>
</body>
</html>